<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
</head>
<body>
  <h1> <%=name%> </h1>
  <%- include('./partials/nav') %> 
  <ul>
    <%items.forEach((item)=> { %>
      <li>
        <h3><%=item.name%>| $<%=item.price%></h3>
        <p>Rating: <%=item.rating%><%= item.rating === 5 ? "â­": "" %>| <%=item.details%>
      </li>
    <%}) %>
  </ul>

</body>
</html>


  